h1{font-family: Arial, Helvetica, sans-serif; text-align: center; border: thick groove gray;} 
h2{font-family: Arial, Helvetica, sans-serif; text-align: right; border: thick groove red;}
body{color: white;background: limegreen;}
